doctype html
html(lang="en")

  include _includes/home-head.pug

  body 

    include _includes/home-header.pug
    
    section
      p This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with content
      p This is a section to be filled with content
      p This is a section to be filled with content
      p This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with content
      
      
      
      p This is a section to be filled with content
      p This is a section to be filled with content
      p This is a section to be filled with content
      p This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with content
      p This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with content
      p This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with content
      p This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with contentp This is a section to be filled with content
    
    include _includes/home-footer.pug
 
