header.home
  display: flex
  flex-direction: column
  box-shadow: 0px 5px 5px grey
  .menu-header-wraper
    padding: 10px
    display: flex
    flex-direction: row
    flex-grow: 1
    justify-content: space-between
    align-items: center
  .menu-items-wraper
    display: none
    &.is-open
      display: block
    ul
      padding: 0
      margin: 0
      list-style-type: none
      li
        text-align: center
        font-size: 30px
  .dropdown-button
    display: none

@media (min-width: 775px)
  header.home
    height: 100px
    .dropdown-button
      display: block
    .container-burger
      display: none
    .menu-items-wraper
      background: white
      box-shadow: -5px 5px 5px grey
      display: none
      margin: 0
      overflow: show
      padding: 0
      position: absolute
      right: 0
      top: 100px
      width: 250px
      ul
        li
          font-size: 20px
