.home-content-wraper
  margin: 50px auto
  background: #fff
  max-width: $media-break-point
  box-shadow: 0px 25px 30px -20px rgba(0,0,0,0.2)
  box-sizing: border-box

  section
    padding: 10px
    perspective: 1000px
  article
    display: inline-block
    min-height: 300px
    width: 100%
    padding: 20px
    box-sizing: border-box
    margin-bottom: 10px
    border-radius: 4px
    color: $brown-900
    font-size: 20px
    background:
      position: top
      size: cover

  .hero
    position: relative
    background-image: url(img/dribbble_fire.png)
    h1
      text-align: center
      position: absolute
      top: 50%
      left: 50%
      margin: 0
      transform: translate(-50%, -50%)
  .intro
    background-image: url(img/dribbble_bandaid.png)
  .references
    background-image: url(img/dribbble_acorn.png)
  .avatar
    height: 50px
    width: 50px
    border-radius: 50%
    position: center
    size: contain

  .whatyoudget
    background-image: url(img/dribbble_mug.png)

  a.thumbnail
      display: block
  .thumbnail
    position: relative
    margin-left: auto
    margin-right: auto
    height: 150px
    width: 220px
    padding: 20px
    box-sizing: border-box
    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.3)
    margin-bottom: 10px
    border-radius: 4px
    transition: all 200ms ease-in-out
    background:
      position: top
      size: cover
    &:hover
      transform: scale(1.1)
      box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.3)

    &.gulp
      background-image: url(img/buildsystem.jpg)
    &.sass
      background-image: url(img/sasstut.jpg)
    &.jade
      background-image: url(img/jadebro.jpg)
    &.broesersync
      background-image: url(img/browsersync.jpg)
    &.starterkit
      background-image: url(img/StarterKit.jpg)


.contributor
  background-color: transparentize($grey-400, 0.3)
  position: relative
  margin-top: 10px
  margin-left: auto
  margin-right: auto
  display: flex
  flex-direction: row
  justify-content: space-around
  border-bottom: 1px solid grey
  max-width: 400px
  a, a:active, a:visited
    color: $brown-800
    text-decoration: none
  a:hover
    text-decoration: underline


  .avatar
    margin: 5px
    img
      height: 50px
      width: 50px
      border-radius: 50%
      size: contain
  .statement
    margin: 5px
    h4
      margin: 0
    p
      font-size: 17px
    p.detail
      padding: 0
      margin: 0
      color: $grey-700
      font-size: 15px
      font-style: italic
