header.home
  display: flex
  flex-direction: column
  box-shadow: 0px 5px 5px grey
  .menu-header-wraper
    color: $grey-200
    background-color: $primary-bacground-color
    padding: 10px
    display: flex
    flex-direction: row
    flex-grow: 1
    justify-content: space-between
    align-items: center
  .menu-items-wraper
    z-index: 1000
    background-color: $primary-bacground-color-dark
    display: none
    &.is-open
      display: block
    ul
      padding: 0
      margin: 0
      list-style-type: none
      li
        text-align: center
        font-size: 30px
        padding: 10px
    a
      text-decoration: none
      color: $primary-bacground-color-light

@media (min-width: $media-break-point)
  header.home
    height: 100px
    .container-burger
      display: none
    .menu-header-wraper
      justify-content: center
    .menu-items-wraper
      box-shadow: -5px 5px 5px grey
      display: block
      margin: 0
      overflow: show
      padding: 0
      position: absolute
      right: 0
      top: 100px
      width: 100%
      ul
        margin: 0 auto
        width: $media-break-point
        display: flex
        justify-content: space-between
        li
          font-size: 20px
          display: inline
