footer.home
  h3 sebasper@gmail.com
  a(name="contacto")
  img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='logo')
  p this is the end...
