footer.home
  h3 sebasper@gmail.com
  img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='logo')
  p this is the end...
  h4 Acknowledgment
  p orem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec dolor cursus, dapibus velit et, molestie tellus. Curabitur varius dictum consequat. Vivamus ut diam sed sapien placerat bibendum. Vestibulum hendrerit et dolor eu molestie. Aliquam cursus ullamcorper lacus, eget aliquet felis fermentum eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed id est ullamcorper, cursus velit semper, ultricies lorem.
