header.home
  .menu-header-wraper
    img.home(src='img/me.jpg', alt='logo')
    //h1 This is the header
    include mobile-burger-menu.pug
  .menu-items-wraper
    nav.show
      ul
        li 
          a(href="#itroduccion") Introducction
        li
          a(href="#loqueobtienes") What you'd get
        li
          a(href="#reconocimiento") Acknowledgment
        li
          a(href="#contacto") Contact

    
