header
  img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='logo')
  h1 This is the header
  nav
    ul
      li Item A
      li Item B
      li Item C
  include mobile-burger-menu.pug
  
