footer.home
  h3 sebasper@gmail.com
  a(name="contacto")
  img(src='img/me.jpg')
  .media
    a(href="https://uy.linkedin.com/in/sebasti%C3%A1n-p%C3%A9rez-16bba3b3" target="blank")
      img(src='img/linkedin.png')
    a(href="https://github.com/sebastianperezperaza/gulp-pug-sass-autoprefixer-browser-sync")
      img(src='img/github.png')
    img.youtube(src='img/youtube.png')
    
  .bulb
    p there is not much to see there ... but you can look it up.
  p this is the end...
