header.home
  .menu-header-wraper
    img.home(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='logo')
    //h1 This is the header
    include mobile-burger-menu.pug
    .dropdown-button Menu
  .menu-items-wraper
    nav.show
      ul
        li Item A
        li Item B
        li Item C
        li Item D

    
