.home-content-wraper
  section
    article.hero
      h1 gulp-pug-sass-autoprefixer-browser-sync
    
    
    article.intro
      a(name="itroduccion")
      h3 Why I did this?
      p Out there already exist travisneilson DevTipsStarterKit, shakyShane jekyll-gulp-sass-browser-sync, mriverodorta DevTips-Starter-Kit-Gulp version and lots of others.
      p While travisneilson version is a very basic version, that just order the place of work, shakyShane uses Gulp and include Jekyll in the mix, but mriverodorta is very pollished and have losts of customizations included in form of configuration items. So why another of this things?
      p The thing is I am not comfortable using stuff I do not understand so my quest to understandig began.
      p Now I am in a point where I could make everythig work the way I like, understandig what I am actualy doing. So I am doing it.
      p It would be huge if some one even look at what I have done and it would be a mayor achivment if some one quotes me in thei own version.
      .thumbnail.starterkit
    
    article.whatyoudget
      a(name="loqueobtienes")
      h3 Employee for free.
      p Gulp does your dirty work for you, just have to give him very specific instucctions :D
        
      .thumbnail.gulp
      
      h3 Do you even Pug bro? ...
      p Pug is Jade, Jade is Pug, they had to rename it. It is a little puppy now. It provide a very fast way to write HTML.
        
      .thumbnail.jade
      
      h3 CSS made simple.
      p Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
      p It is beatifullllll and very easy to use, just indent rigth and you have you style.
        
      .thumbnail.sass
      
      h3 Forget F5.
      p Save and see, that is all. No mor F5, F5, F5 ..... time saved.
        
      .thumbnail.broesersync

    article.references
      a(name="reconocimiento")  
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec dolor cursus, dapibus velit et, molestie tellus. Curabitur varius dictum consequat. Vivamus ut diam sed sapien placerat bibendum. Vestibulum hendrerit et dolor eu molestie. Aliquam cursus ullamcorper lacus, eget aliquet felis fermentum eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed id est ullamcorper, cursus velit semper, ultricies lorem.
